<html>

  <style>

  body {
  background-color: #FFCC00;
  padding: 20px;
  margin-top: 250px;
  width: 25% ;
  margin-left: 550px;
}
#form{
  margin-top:30px;
  margin-left:70px;
  font-size: 25px;

}
#submit{
   width: 120px;
   height: 40px;
   font-size: 20px;
   margin-top:10px;
   margin-left:80px;
}


  </style>

<head>
<title>Reader</title>
</head>
<body>
<h1> Welcome to self pace reader
</h1>
<form id="form" action="/read" method="GET">
    Your Name: <input  type="text" name="fname"><br><br>
    <input  id="submit" type="submit" value="Start" />

</form>
</body>
</html>